#index {
    width: 80vw;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    padding: 0 10vw;
	z-index: 1;
	text-align: center;
}

#index h1 {
    font-size: 3em;
    background: rgba(0, 0, 0, 0.8);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
    padding: 5px 10px;
    margin: 15vh auto 4vh auto;
}

@media only screen and (max-width: 600px) {
    #index h1 {
        font-size: 2.5em;
        margin: 10vh auto 4vh auto;
    }
}

#index input {
    font-size: 1.8em;
    margin-bottom: 10px;
    padding: 5px 12px 7px;
}

@media only screen and (max-width: 401px) {
    #index input {
        width: -webkit-fill-available;
        font-size: 1em;
        padding: 7px;
        margin-bottom: 0;
    }
}

#index a {
    font-size: 1.4em;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    -o-transition: transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    -webkit-transform-origin: 50% 30%;
        -ms-transform-origin: 50% 30%;
            transform-origin: 50% 30%;
    border: 1px solid white;
    width: 288px;
    padding: 5px 0;
    background: rgba(0, 0, 0, 0.70);
    -webkit-box-shadow: 1px 2px 1px 0px rgba(255, 255, 255, 0.70);
            box-shadow: 1px 2px 1px 0px rgba(255, 255, 255, 0.70);
    margin: 17px auto;
    cursor: pointer;
    position: relative;
    top: 0;
    margin-bottom: 1px;
    display: block;
    color: white;
    text-decoration: none;
}

#index a:hover, #index a:focus, #index a:active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    text-shadow: 2px 0 0 green, -2px 0 0 green, 0 2px 0 green, 0 -2px 0 green, 1px 1px green, -1px -1px 0 green, 1px -1px 0 green, -1px 1px 0 green;
}

#index a:active {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 1px;
    margin-bottom: 0;
}


#mobile-help {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

@media only screen and (min-width: 601px) {
    #mobile-help {
        display: none;
    }
}

/* CSS TRANSITION */
.slide-enter {
  opacity: 0.01 !important;
   -webkit-transform: translateX(-50%) !important;
       -ms-transform: translateX(-50%) !important;
           transform: translateX(-50%) !important;
}

.slide-enter.slide-enter-active {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
  -webkit-transition: all 150ms ease-in-out !important;
  -o-transition: all 150ms ease-in-out !important;
  transition: all 150ms ease-in-out !important;
}

.slide-exit {
  opacity: 1 !important;
  -webkit-transform: translateX(0) !important;
      -ms-transform: translateX(0) !important;
          transform: translateX(0) !important;
}

.slide-exit.slide-exit-active {
  opacity: 0 !important;
  -webkit-transform: translateX(50%) !important;
      -ms-transform: translateX(50%) !important;
          transform: translateX(50%) !important;
  -webkit-transition: 150ms ease-in-out !important;
  -o-transition: all 150ms ease-in-out !important;
  transition: all 150ms ease-in-out !important;
}