.container h1,
.container h2,
.container p {
	background: rgba(0, 0, 0, 0.8);
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	padding: 5px 10px;
}

.container h1 {
    font-size: 2.2em;
    margin-top: 14vh;
}

.container h2 {
	text-transform: capitalize;
}

.container p {
	padding: 15px 12px;
	font-weight: 300;
	line-height: 1.5;
	background: rgba(0, 0, 0, 0.7);
}

.container {
    width: 80vw;
    height: 100vh;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    padding: 0 10vw;
}

.listsContainer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	background: rgba(0, 0, 0, 0.7);
	padding: 14px 8px;
}

.listBox {
	padding: 10px;
	width: 200px;
	margin: 12px 10px;
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

.listBox h4 {
	margin: 0 auto;
	font-weight: 400;
	font-size: 1.2em;
    text-align: center;
    color: #daad69;
}

.listBox ul {
	width: 50%;
	margin: auto;
	margin-bottom: 0;
}

.listBox ul li {
	margin: 12px 0;
	font-size: 1.1em;
	font-weight: 100;
}

.blue {
	background: rgba(49, 58, 120, 0.76);
}

.green {
	background: rgba(0, 159, 106, 0.76);
}

.red {
	background: rgba(208, 33, 32, 0.76);
}
.orange {
	background: rgba(202, 143, 30, 0.76);
}

#back {
    background: black;
    position: absolute;
    top: 0 !important;
    right: 0;
    margin: 0;
    font-size: 1em;
    padding: 8px;
    margin-top: 6px;
    color: white;
    -webkit-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1 ease-in;
    text-decoration: none;
}

#back:hover, #back:active, #back:focus {
    color: green;
}

.wood-back {
    background: url("../../img/woody.jpg") no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 601px) {
    .container p, .listBox ul li {
        font-weight: 400;
    }
}