@import url(
	https://fonts.googleapis.com/css?family=Lato:100,
	300,
	400,
	700,
	900
);

body,
html {
	background: url(./img/weed.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
    font-family: "Lato", sans-serif;
    --webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
}

#canvas {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 3;
	pointer-events: none;
}

.page {
	height: 100vh;
	position: fixed;
	top: 0;
	width: 100%;
	-webkit-transition: -webkit-transform 0.8s ease-in-out,
		-webkit-box-shadow 0.8s ease-in-out;
	transition: -webkit-transform 0.8s ease-in-out,
		-webkit-box-shadow 0.8s ease-in-out;
	-o-transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out, box-shadow 0.8s ease-in-out,
		-webkit-transform 0.8s ease-in-out, -webkit-box-shadow 0.8s ease-in-out;
}

.page-enter {
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

/* .page-enter .page__inner {
opacity: 0;
  -webkit-transform: scale(0.1);
      -ms-transform: scale(0.1);
    transform: scale(0.1);
  -webkit-transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
  -o-transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
  transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
} */

.page-enter-active {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.page-exit {
	-webkit-box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
	box-shadow: 0 0 5em 0 rgba(0, 0, 0, 0.5) inset;
	-webkit-transform: translate(-100%, 0);
	-ms-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}

.page--prev.page-enter {
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

.page--prev.page-enter-active {
	-webkit-transform: translate(0, 0);
	-ms-transform: translate(0, 0);
	transform: translate(0, 0);
}

.page--prev.page-exit {
	-webkit-transform: translate(100%, 0);
	-ms-transform: translate(100%, 0);
	transform: translate(100%, 0);
}

.page-exit .page__inner {
	opacity: 0;
	-webkit-transform: scale(0.1);
	-ms-transform: scale(0.1);
	transform: scale(0.1);
	-webkit-transition: opacity 0.8s ease-in-out,
		-webkit-transform 0.8s ease-in-out;
	transition: opacity 0.8s ease-in-out, -webkit-transform 0.8s ease-in-out;
	-o-transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out;
	transition: transform 0.8s ease-in-out, opacity 0.8s ease-in-out,
		-webkit-transform 0.8s ease-in-out;
}

#smokeToggle {
    z-index: 2;
    position: absolute;
}

.button {
	position: relative;
	border: none;
	display: inline-block;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2),
		inset 0px -5px 0px 0px rgba(0, 0, 0, 0.3),
		inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow: hidden;
	cursor: pointer;
	margin: 10px;
	width: 136px;
	text-align: center;
}
.button:active {
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.2),
		inset 0px -2px 0px 0px rgba(0, 0, 0, 0.3),
		inset 0px 2px 0px 0px rgba(255, 255, 255, 0.5);
	top: 3px;
}
.button div, .button span {
	padding: 8px 10px 11px;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.4);
}
.button:active div, .button:active span {
	padding-bottom: 9px;
}
.wood {
	background: url("./img/wood.png");
}

@media only screen and (max-width: 600px) {
    #smokeToggle {
        display: none;
    }
}
